<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.mybatis_plus_demo.mapper.UserMapper">
    <!--Map<String, Object> getUserMapById(@Param("id") Long id);-->
    <select id="getUserMapById" resultType="map">
        select * from user where uid = #{id}
    </select>

    <!--SQL片段，记录基础字段-->
    <sql id="BaseColumns">uid,user_name,age,email</sql>
    <!--Page<User> selectPageVo(Page<User> page, Integer age);-->
    <select id="selectPageVo" resultType="User">
        SELECT <include refid="BaseColumns"></include> FROM t_user WHERE age > #{age}
    </select>

</mapper>
